.match-parent {
  width: 100%;
  height: 100vh;
}

.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: dodgerblue;
  text-decoration: none;
}

.topnav {
  position: absolute;
  z-index: 999;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

#menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

#menu #layers {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.opacity {
  opacity: 50%;
}

#menu a {
  position: absolute;
  color: white;
  background-color: dodgerblue;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#menu a:hover {
  background-color: #ddd;
  color: black;
}

#menu #layersDelete {
  float: right;
}

#menu #fileDownload {
  float: right;
}

#menu #flyTo {
  float: right;
}

@media screen and (max-width: 500px) {
  #menu a {
    display: block;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
