.match-parent {
  float: right;
  width: 78%;
  height: 600px;
}

#menu {
  float: left;
  background: #fff;
  width: 20%;
  height: 600px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
}

#menu #layers {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}
