#uploadBody {
  text-align: center;
  background: #fff;
  width: 100%;
  height: 100vh;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.file-input {
  display: none;
}

#uploadBody a {
  display: block;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: dodgerblue;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#uploadBody a:hover {
  background-color: #ddd;
  color: black;
}

#mainUpload input {
  margin-bottom: 20px;
}

#mainUpload button {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
}
